<div class = 'users-tab'>  
  <div class = 'users-header'>
    <div class = 'users-row-info'>
      <div class = 'img-container'>
          <div class="inner-border">
            <img src="<%= @user.photo %>" alt="" width="100" height="100">
          </div>
        </div>
      <h1><%= @user.name %></h1>
    </div>
    <div>
      <h3>
        Posts: <%= @user.post_counter %>
      </h3>
    </div>
  </div>
  <div>
    <h3>
      Bio: <%= @user.bio %>
    </h3>
  </div>
  <div>
    <h3>Posts: </h3>
    <ul>
      <% @user.recent_posts.each do |post| %>
        <li class='li-content'>
          <%= link_to post.title, user_post_path(post.author_id, post.id) %>
          <div class='counter-content'>
            <%= post.text%>
          </div>
          <div class='counter-content'>
            <div>
              <h4>Comments: <%= post.comment_counter%></h4>
            </div>
            <div>
              <h4>Likes: <%= post.likes_counter%></h4>              
            </div>
          <div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class= 'users-buttons'>
    <button>
      <%= link_to 'See all posts', user_posts_path(@user) %>
    </button>
    <h3>
      <%= link_to 'Back', users_path %>
      <i class="fa-sharp fa-light fa-left"></i>
    </h3>
  </div>
</div>
